.button {
  position: relative;
  width: 192px;
  height: 66px;
  margin-top: 100px;
  margin-left: 20px;
  cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
    auto !important;
  .button-content {
    width: 192px;
    height: 66px;
    background-color: rgb(11, 198, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body-family);
    color: rgb(1, 1, 1);
    font-size: 13px;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
    clip-path: polygon(
      calc(15px) 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%,
      0 15px
    );
  }
  &:hover {
    .button-content {
      transition: all 0.3s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
    &::after {
      transition: all 0.3s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
  }
  &::after {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    bottom: -4px;
    right: -4px;
    border: 1px solid #7e7e7e;
    clip-path: polygon(
      calc(20px) 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 20px
    );
  }
}

.buttonShop {
  height: 45px;
  font-size: 12px;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 3.4rem;
    height: 50px;
    font-size: 18px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(205, 59, 55);
  background-image: linear-gradient(
    -185deg,
    rgb(205, 59, 55) 49.5%,
    rgb(159, 45, 42) 50.5%
  );
  background-size: 100% 255%;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-position 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 4.6rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
    auto !important;
  .button-content {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: rgb(255, 255, 255);
      transform: scaleX(0);
      transform-origin: left center;
    }
  }

  &:hover {
    background-color: rgb(159, 45, 42);
    background-position: 0px 100%;
    transition: color 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s,
      background-color 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s,
      background-position 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89) 0s;
    .button-content {
      &::after {
        transform: none;
        transition: background-color 0.35s cubic-bezier(0.12, 0.71, 0.31, 0.89)
            0s,
          transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      }
    }
  }
}
