.gameplay {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  .gameplay__container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    margin-left: 15%;
    justify-content: center;
    .goal {
      height: 500px;
      .about {
        color: white;
        position: absolute;
        align-self: center;
        transform: rotate(-90deg) translate(-100%, -50%);
        transform-origin: left top;
        white-space: nowrap;
        font-size: 10px;
        color: rgb(255, 255, 255);
        top: 50%;
        left: -10%;
        @media screen and (max-width: 1023px) {
          font-size: 0.625rem * 0.7;
        }
        @media screen and (min-width: 1024px) {
          font-size: 0.7rem;
        }
        letter-spacing: 0.25em;
        &::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 1.4em;
          height: 1px;
          margin-left: 0.5em;
          background-color: currentcolor;
        }
      }
      h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 1rem;
        font-style: italic;
      }
      p {
        font-size: 0.85rem;
        font-family: "Arial Narrow", Arial, sans-serif;
        letter-spacing: 0.03rem;
      }
      .info {
        margin-top: 30px;
        padding: 20px 30px;
        border: 0.5px solid rgba($color: #d8d8d8, $alpha: 0.2);
        flex-direction: column;
        display: none;
        @keyframes identifier {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        animation: identifier;
        animation-duration: 0.5s;
        &.active {
          display: flex;
        }
        .info__title {
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .info__content {
          font-size: 0.7rem;
          font-weight: bold;
          margin-bottom: 1rem;
          font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
          letter-spacing: 0.06rem;
          font-weight: 200;
        }
        .icon {
          position: relative;
          display: flex;
          flex-direction: row;
          cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
            auto !important;
          @keyframes hoverBtn {
            from {
              clip-path: polygon(
                50% 50%,
                100% 0,
                49% 51%,
                49% 50%,
                0 100%,
                49% 50%,
                50% 50%
              );
            }
            to {
              clip-path: polygon(
                49% 0,
                100% 0,
                100% 60%,
                100% 100%,
                0 100%,
                0 55%,
                0 0
              );
            }
          }
          .left {
            appearance: none;
            padding: 0px;
            border: 0.5px solid transparent;
            margin-right: 10px;
            background: none;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
              auto !important;
            padding: 0 10px;
            color: #0bc6e3;
            background-color: transparent;
            transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
            &:hover {
              animation: hoverBtn;
              border: 0.5px solid #0bc6e3;
            }
          }
          .right {
            appearance: none;
            padding: 0px;
            border: 0.5px solid transparent;
            background: none;
            padding: 0 10px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
              auto !important;
            background-color: transparent;
            color: #0bc6e3;
            transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
            &:hover {
              animation: hoverBtn;
              border: 0.5px solid #0bc6e3;
            }
          }
        }
      }
    }
  }
}
