.gameplay2 {
  background-color: white;
  width: 100%;
  height: 100%;
  .gameplay2__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .gameplay2__container--video--info {
      padding-bottom: 10px;
      p {
        overflow: hidden;
        max-height: 0;
        margin: 0;
        transition: all 0.3s ease-in;
      }
      &.active {
        p {
          max-height: 50vh;
        }
      }
    }
    .gameplay2__container__title {
      h1 {
        @media screen and (min-width: 1024px) {
          font-size: 60px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 60px * 0.6;
        }
        font-family: var(--font-heading-family);
        font-style: italic;
        margin-top: 100px;
        font-weight: 800;
      }
      p {
        max-width: 660px;
        margin: 20px auto 0px;
        text-align: center;

        @media screen and (min-width: 1024px) {
          font-size: 0.875rem;
        }
        @media screen and (max-width: 1023px) {
          font-size: 0.875rem * 0.8;
        }
        letter-spacing: 0.08em;
        line-height: 1.6;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      color: #0bc6e3;
    }
    @media screen and (min-width: 1024px) {
      .gameplay2__container--video {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: calc(100% - 30%);
        margin: 55px 0px;
        position: relative;
        padding: 2%;
        border: 1px solid rgba(58, 58, 58, 0.5);
        video {
          position: relative;
          z-index: 0;
          height: 100%;
          width: 65%;
          object-fit: contain;
        }
        .gameplay2__container--video--info {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          border-bottom: 1px solid rgba(58, 58, 58, 0.5);
          .btn__gameplay2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding: 10px 10px 0 10px;
            cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
              auto !important;
            .btn--add {
              color: #0bc6e3;
              cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
                auto !important;
            }

            h1 {
              font-size: 14px;
              font-weight: 600;
              font-family: "Roboto", sans-serif;
              margin-bottom: 0;
            }
          }
          p {
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            text-align: left;
          }
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .gameplay2__container--video {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 80%;
        margin: 55px 0px;
        position: relative;
        padding: 0.2%;
        flex-wrap: wrap;
        flex-direction: column;

        video {
          position: relative;
          z-index: 0;
          height: 100%;
          width: 100%;
          object-fit: contain;
          padding: 4px;
          border: 1px solid rgba(58, 58, 58, 0.5);
        }
        .gameplay2__container--video--info {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(58, 58, 58, 0.5);
          .btn__gameplay2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding: 10px 10px 0 10px;
            cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
              auto !important;
            .btn--add {
              color: #0bc6e3;
              cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
                auto !important;
            }
            h1 {
              font-size: 14 * 0.8px;
              font-weight: 600;
              font-family: "Roboto", sans-serif;
              margin-bottom: 0;
            }
          }
          p {
            font-size: 12 * 0.8px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            text-align: left;
          }
        }
      }
    }

    .tag {
      color: rgb(1, 1, 1);
      position: absolute;
      align-self: center;
      transform: rotate(-90deg) translate(-100%, -50%);
      transform-origin: left top;
      white-space: nowrap;
      font-size: 10px;
      left: 5%;
      @media screen and (max-width: 1023px) {
        font-size: 0.625rem * 0.7;
      }
      @media screen and (min-width: 1024px) {
        font-size: 0.7rem;
      }
      letter-spacing: 0.25em;
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1.4em;
        height: 1px;
        margin-left: 0.5em;
        background-color: currentcolor;
      }
    }
  }
}
