.mastery-table {
  position: relative;
  height: 500px;
  opacity: 100%;
  background: #0a0e13;
  border-bottom: 1px solid #252c32;
  animation: fadein 0.8s;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  z-index: 10;
  flex-direction: row;
  font-family: var(--font-heading-family);
  color: white;
  justify-content: center;
  .title {
    font-size: 32px;
  }
  .mastery-main {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 5rem;
    .champ1 {
      display: flex;
      flex: 1;
      flex-direction: column;
      position: absolute;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      .logo {
        border-radius: 50%;
      }
      .mastery {
        object-fit: contain;
        max-width: 10%;
        max-height: 10%;
      }
    }
  }
}
