.signIn {
  width: 100%;
  height: 94vh;
  padding-top: 78px;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: var(--font-footer-family);
  @media screen and (min-width: 1400px) {
    .signIn__logo {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      img {
        width: 20%;
      }
    }

    .sigIn__form {
      width: 30%;
      height: 70%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding-bottom: 40px;

      form {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h1 {
          padding: 60px 0;
          font-size: 50px;
          font-weight: bold;
        }
        .signIn__form__input {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: center;
          text-align: center;
          input {
            width: 70%;
            height: 58px;
            padding: 0 20px;
            margin: 10px 0;
            background-color: #ebebeb;
            border-radius: 5px;
            border-color: none;
            outline-color: #0bc4e2;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .signIn__form__button {
        display: flex;
        flex: row;
        width: 70%;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10%;

        svg {
          width: 30%;
          height: 30px;
          padding: 10px 0;
          border-radius: 5px;
          cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
            auto !important;
          transition: all 0.2s ease-in-out;
          &:hover {
            opacity: 0.5;
          }
        }
      }

      .signIn__login {
        cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
          auto !important;
        display: flex;
        margin-top: 20px;
        padding: 15px 35px;
        border: 1px solid rgb(184, 183, 183, 0.5);
        border-radius: 10px;
        background-color: rgb(34, 211, 211);
        color: white;
        transition: all 0.5s ease-in-out;
        font-family: var(--font-footer-family);
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          background-color: rgba(34, 211, 211, 0.6);
          color: white;
        }
      }

      .signIn__text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        a {
          text-decoration: none;
          margin-top: 10px;
          color: rgb(129, 128, 128);
          transition: all 0.3s ease-in-out;
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    .signIn__logo {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      img {
        width: 100%;
      }
    }

    .sigIn__form {
      width: 80%;
      height: 70%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: white;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h1 {
          font-size: 50px;
          font-weight: bold;
          padding: 30px 0;
        }
        .signIn__form__input {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: center;
          text-align: center;
          input {
            width: 50%;
            height: 58px;
            padding: 0 20px;
            margin: 10px 0;
            background-color: #ebebeb;
            border-radius: 5px;
            border-color: #dfa2f1;
          }
        }
      }
      .signIn__form__button {
        display: flex;
        flex: row;
        width: 70%;
        height: 40px;
        align-items: center;
        justify-content: space-between;

        svg {
          width: 30%;
          height: 30px;
          padding: 10px 0;
          border-radius: 5px;
          cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
            auto !important;
          transition: all 0.2s ease-in-out;
          &:hover {
            opacity: 0.5;
          }
        }
      }

      .signIn__login {
        display: flex;
        margin-top: 20px;
        padding: 30px 30px;
        border: 1px solid rgb(184, 183, 183, 0.5);
        border-radius: 30%;
        color: rgb(184, 183, 183, 0.5);
        transition: all 0.5s ease-in-out;
        font-family: var(--font-footer-family);
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          background-color: #d13639;
          color: white;
        }
      }

      .signIn__text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          margin-top: 10px;
          color: rgb(129, 128, 128);
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  section.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  /*
  Randomizar as imagens de acordo com o seu index, a casa 10s trocar imagem como se fosse um carrousel
*/
  /* section.page .img_login_section {
  background: url(https://www.teahub.io/photos/full/7-76038_yasuo-splash-art-wallpaper-yasuo-live-wallpaper-download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
} */

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user-button {
    width: 3em;
    height: 3em;
    color: var(--gray-300);
    display: grid;
    place-items: center;
    position: absolute;
    top: 100px;
    right: 35px;
    border-radius: 30%;
    padding: 10px;
    border: 1px solid #00000017;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px,
      #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    backdrop-filter: blur(4px);
    background-color: #ffffff17;
  }

  .login_section {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px;
    @media screen and (min-width: 768px) {
      padding: 50px;
      width: unset;
      height: unset;
    }
  }

  h2 {
    font-family: var(--font-footer-family);
  }

  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  form .input_field {
    width: 100%;
    position: relative;
  }

  form .input_field label {
    position: absolute;
    top: 15px;
    left: 20px;
    letter-spacing: 1px;
    font-family: var(--font-footer-family);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray-300);
    transition: all ease 0.1s;
  }

  form .input_field input {
    background-color: var(--gray-200);
    font-family: var(--font-footer-family);
    font-size: 1.1em;
    width: 330px;
    height: 55px;
    padding: 15px 8px 1px 8px;
    border: none;
    border-radius: 5px;
    position: relative;
  }

  form .input_field input:focus {
    outline: none;
    border: 2px solid black;
  }

  form .input_field input:valid ~ label,
  form .input_field input:focus ~ label {
    transform: translate(-11px, -12px);
    font-size: 0.7em;
  }

  .social-media-login {
    margin-top: 2em;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .social-media-login .media-item {
    width: 103px;
    display: grid;
    place-items: center;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all ease 0.4s;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
  }

  .social-media-login .media-item:hover {
    opacity: 1.2;
  }

  .social-media-login .fb-item {
    background-color: var(--blue-fb);
    .icon {
      color: var(--gray-200);
    }
  }

  .social-media-login .apple-item {
    background-color: var(--black-200);
    .icon {
      color: var(--gray-200);
    }
  }

  .save-login {
    margin-top: 2em;
    user-select: none;
    width: 330px;
    color: var(--black-200);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
  }

  .save-login input[type="checkbox"] {
    appearance: none;
    background-color: var(--gray-200);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
    display: inline-block;
  }

  .save-login label {
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
  }

  .save-login input[type="checkbox"]:checked {
    background-color: var(--red-riot);
  }

  .save-login .check-icon {
    width: 0.8em;
    height: 0.8em;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
    left: 3px;
    position: absolute;
    color: var(--gray-200);
  }

  .login-sucess {
    width: 4.5em;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
    height: 4.5em;
    border: 3px solid var(--gray-200);
    border-radius: 30%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #0bc4e2;
    }
  }

  .login-sucess .icon {
    width: 1.8em;
    height: 1.8em;
    color: var(--gray-200);
  }

  .other-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .other-actions > div {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: var(--gray-300);
    font-size: 0.9em;
    font-weight: bold;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
  }

  .other-actions a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--gray-300);
    font-size: 0.9em;
    font-weight: bold;
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
      auto !important;
    &:hover {
      color: var(--black-200);
    }
  }

  .other-actions div:hover {
    color: var(--black-200);
  }

  .other-actions div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
  }
}
