.teamPage {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  .profile__infomation {
    color: #fff;
    max-width: 800px;
    align-self: center;
    width: 100%;
    margin-top: 50px;
    .profile__information-heading {
      font-size: 30px;
      text-align: center;
      font-weight: 600;
      font-family: var(--font-footer-family);
      margin-bottom: 40px;
    }
    .input_field {
      width: 100%;
      position: relative;
    }

    .input_field label {
      position: absolute;
      top: 15px;
      left: 20px;
      letter-spacing: 1px;
      font-family: var(--font-footer-family);
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(#c8aa6e, 0.5);
      transition: all ease 0.1s;
    }

    .input_field input {
      background-color: transparent;
      font-family: var(--font-footer-family);
      border: 1px solid rgba(#c8aa6e, 0.2);
      font-size: 1.1em;
      width: 100%;
      color: #c8aa6e;
      height: 55px;
      padding: 15px 8px 1px 8px;
      position: relative;
      margin-bottom: 10px;
      &::placeholder {
        color: rgba(#c8aa6e, 0.7);
      }
    }

    .input_field input:focus {
      outline: none;
      border: 2px solid rgba(#c8aa6e, 0.5);
    }

    .input_field input:valid ~ label,
    .input_field input:focus ~ label {
      transform: translate(-11px, -12px);
      font-size: 0.7em;
    }

    .profile__infomation-button {
      background-color: rgba(#c89b3c, 0.7);
      text-transform: uppercase;
      color: #f0e6d2;
      height: 58px;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      padding: 0 20px;
      margin-right: 10px;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  #username {
    pointer-events: none;
  }
}
