.footer {
  .footer__video {
    width: 100%;
    min-height: 400px;
    max-height: 1200px;
    position: relative;
    height: 80vh;
    @media screen and (min-width: 992px) {
      height: 100vh;
    }
    .footer__video-wrapper {
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      align-items: center;
      background: rgb(7, 18, 26);
    }
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .footer__btn {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .footer__container__bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-footer-family);
    .footer__container__bottom1 {
      display: flex;
      @media screen and (min-width: 1300px) {
        flex-direction: row;
      }
      @media screen and (max-width: 1299px) {
        flex-direction: column;
      }
      justify-content: space-between;
      padding: 20px 60px;
      background-color: rgb(6, 28, 37);
      color: rgb(209, 218, 222);
      align-items: center;
      flex-wrap: wrap;
      span {
        margin: 0px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.08em;
        font-family: var(--font-heading-family);
      }
      p {
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.08em;
        padding: 5px 0;
      }
      img {
        width: 300px;
        height: 36px;
        object-fit: contain;
        cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
          auto !important;
        z-index: 51;
        @media screen and (max-width: 500px) {
          width: 100%;
          height: 100%;
          object-fit: contain;
          cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
            auto !important;
          z-index: 51;
        }
      }
    }
  }
  .footer__container__bottom2 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #292929;
    padding: 24px 0;
    @media screen and (min-width: 1300px) {
      flex-direction: row;
    }
    @media screen and (max-width: 1299px) {
      flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    .btn {
      display: block;
      padding: 16px 16px;
      text-decoration: none;
      color: #f9f9f9;
      transition: all 0.2s linear;
      font-weight: 700;
      cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
        auto !important;
      font-size: 13px;
      letter-spacing: 0.08em;
      font-family: var(--font-footer-family);
      text-align: center;
      border-radius: 10px;
      &:hover {
        background-color: rgb(85, 85, 85);
      }
    }
  }
  .footer__container__bottom3 {
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .socials__btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      .social__btn {
        background-color: rgb(49, 49, 49);
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 10px;
        font-size: 20px;
        cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
          auto !important;
      }
    }
    .logo {
      img {
        margin-top: 50px;
        width: 50px;
        margin-bottom: 25px;
      }
    }
    .actor {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      text-align: center;
      word-break: keep-all;
      color: #7e7e7e;
      font-family: var(--font-body-family);
      max-width: 640px;
    }
    .btn__end {
      display: flex;
      margin-top: 25px;
      justify-content: center;
      align-content: center;
      @media screen and (min-width: 1000px) {
        flex-direction: row;
      }
      @media screen and (max-width: 999px) {
        flex-direction: column;
      }
      .btn--End {
        display: block;
        padding: 16px 16px;
        text-decoration: none;
        color: #f9f9f9;
        transition: all 0.2s linear;
        font-weight: 700;
        cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png"),
          auto !important;
        font-size: 13px;
        letter-spacing: 0.08em;
        font-family: "FF Mark W05", Arial, sans-serif;
        text-align: center;
        &:hover {
          background-color: rgb(85, 85, 85);
          border-radius: 10px;
        }
      }
    }
    img {
      margin: 25px 0;
      cursor: default;
      align-items: center;
      @media screen and (min-width: 700px) {
        width: 400px;
        height: 100%;
      }
      @media screen and (max-width: 699px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
