.skin {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;

  .tag {
    color: rgb(255, 255, 255);
    position: absolute;
    align-self: center;
    transform: rotate(-90deg) translate(-100%, -50%);
    transform-origin: left top;
    white-space: nowrap;
    font-size: 10px;
    left: 2%;
    top: 50%;
    @media screen and (max-width: 1023px) {
      font-size: 0.625rem * 0.7;
    }
    @media screen and (min-width: 1024px) {
      font-size: 0.7rem;
    }
    letter-spacing: 0.25em;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1.4em;
      height: 1px;
      margin-left: 0.5em;
      background-color: currentcolor;
    }
  }
  .skin__title {
    color: white;
    font-size: 0.625rem;
    z-index: 55;
    font-weight: 800;
    font-size: 3.75rem;
    font-style: italic;
    height: 5rem;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
    background-color: rgb(1, 1, 1);
    font-family: var(--font-heading-family);
  }
  .skin__container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    align-items: center;
    justify-content: center;
    display: flex;
    .skin__container__image {
      position: absolute;
      width: 80%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      margin-left: auto;
      top: 0;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .skin__btn {
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 55;
    position: absolute;
    width: 95%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .right {
      font-size: 100px;
      cursor: pointer;
      background-color: transparent;
      color: #d0a85c;
      border: none;
      display: flex;
      align-items: center;
      .icon {
        transition: all 0.3s ease-in-out;
        width: 100px;
      }
      &:hover {
        .icon {
          color: #0bc4e2;
        }
      }
    }
    .left {
      background-color: transparent;
      font-size: 100px;
      cursor: pointer;
      color: #d0a85c;
      border: none;
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      .icon {
        transition: all 0.3s ease-in-out;
        width: 100px;
      }
      &:hover {
        .icon {
          color: #0bc4e2;
        }
      }
    }
  }
}
